<h2 mat-dialog-title>Import template</h2>
<mat-dialog-content>
  <form class="import-template">
    <mat-form-field class="import-template-width">
      <mat-label>Import from json string</mat-label>
      <textarea #jsonInput matInput placeholder="Paste your exported content here"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <!-- <button mat-stroked-button (click)="importFromFile()">Import from file</button> -->
  <button mat-button (click)="importTemplate()" color="accent" cdkFocusInitial>Import</button>
  <button mat-button mat-dialog-close="">Close</button>
</mat-dialog-actions>