.section-create {
  min-width: 150px;
  max-width: 60vw;
  width: 100%;
}

.section-create-width {
  width: 100%;
}

.section-create-button-delete {
  background-color: var(--app-section-create-button-delete);
}