:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.template-toolbar {
  top: 0;
  position: sticky;
  z-index: 10;

  background-color: var(--app-template-toolbar-background);
}

.template-toolbar-spacer {
  flex: 1;
}

.template-toolbar-button {
  margin: 0 1em;
}

.template-content {
  flex: 1;

  display: flex;
  flex-direction: row;

  margin-top: 16px;
}

.template-result {
  top: 64px;
  position: sticky;
  
  height: calc(100vh - 128px);
  width: 40vw;
  min-width: 100px;
  max-width: 80vw;
}

.template-dragger {
  width: 16px;

  cursor: pointer;

  transition: all 0.25s;

  &:hover {
    background-color: rgba($color: #000000, $alpha: 0.4);
  }
}

.template-editor {
  flex: 1;
  height: 100%;
}

.template-editor-section {
  display: flex;
  flex-direction: row;

  gap: 0.5em;
  width: 100%;
  padding: 0.5em 0;

  justify-content: center;
}